<div class="row">
  <div class="col-lg-8 col-lg-offset-1">
    <h1>Edit Chart</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-1">
    <%= render(__MODULE__, "_form.html", %{conn: @conn, changeset: @changeset}) %>
  </div>

</div>
