<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <script type="text/javascript" src="/js/phoenix.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>

  <script type="text/javascript"
  src="https://www.google.com/jsapi?autoload={
    'modules':[{
      'name':'visualization',
      'version':'1',
      'packages':['corechart']
    }]
  }"></script>

  <title>Charts</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/justified-nav.css">

</head>


<body>

  <div class="container">

    <div class="masthead">
      <%= if current_user(@conn) do %>
      <h3 class="text-muted"><%= current_user(@conn).username %></h3>
      <% else %>
      <h3 class="text-muted">Live Charts</h3>
      <% end %>
      <nav>
        <ul class="nav nav-justified">
          <% IO.puts(inspect @conn.path_info) %>
          <%= if current_user(@conn) do %>
          <li class="<%= if menu_item(@conn.path_info) == :dashboard, do: "active" %>">
            <a href="<%= users_path(@conn, :dashboard, current_user(@conn).id) %>">Dashboard</a>
          </li>
          <li class="<%= if menu_item(@conn.path_info) == :charts, do: "active" %>">
            <a href="<%= charts_path(@conn, :index, current_user(@conn).id) %>">Charts</a>
          </li>
          <li class="<%= if menu_item(@conn.path_info) == :settings, do: "active" %>">
            <a href="<%= users_path(@conn, :settings, current_user(@conn).id) %>">Settings</a>
          </li>
          <% else %>
          <li><a href="#">About</a></li>
          <% end %>
            <% current_user = current_user(@conn) %>
            <%= if current_user do %>
            <li><a href="<%= users_path @conn, :logout, current_user.id %>">Logout</a></li>
            <% else %>
            <li class="<%= if menu_item(@conn.path_info) == :log_in, do: "active" %>">
              <a href="<%= users_path @conn, :login %>">Log in</a>
            </li>
            <li class="<%= if menu_item(@conn.path_info) == :sign_up, do: "active" %>">
              <a href="<%= users_path @conn, :new %>">Sign up</a>
            </li>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>

    <%= if get_flash(@conn, :notice) do %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= get_flash(@conn, :notice) %>
    </div>
    <% end %>
    <%= if get_flash(@conn, :error) do %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= get_flash(@conn, :error) %>
    </div>
    <% end %>



    <%= @inner %>
    <!-- Jumbotron -->


    <!-- Site footer -->
    <footer class="footer">
      <p>© Company 2014</p>
    </footer>

  </div> <!-- /container -->
  <%= render(__MODULE__, "inline_script.html", %{}) %>

</body>
</html>
