<div class="row">
  <div class="col-lg-8 col-lg-offset-1">
  <h1>Settings</h1>
  <h3>Token: <%= current_user(@conn).token %></h3>
    <form action="<%= users_path(@conn, :token, current_user(@conn).id)%>" method="post">
      <input type="hidden" name="_method" value="patch">
      <button type="submit" class="btn btn-warning" data-text="Are you sure?">Generate New Token</button>
    </form>
  </div>
</div>
